@import url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@6/fonts/K2D/K2D.css');
@import url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@6/fonts/Kanit/Kanit.css');
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body, p {
  font-family: 'K2D', sans-serif;
  font-size: 2em;
}
h1, h2, h3 {
  font-family: 'Kanit', sans-serif;;
  font-weight: normal;
}
.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}

.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

/* Two-column layout */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Thanks to http://www.partage-it.com/animez-vos-presentations-remark-js/  (in French) */
.remark-slide-container {
  transition: opacity 0.5s ease-out;
  opacity: 0;
}

.remark-visible {
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.remark-fading {
  z-index: 9;
}

img {
  width: 120px;
}
